header {
  background-color: #333; /* Couleur de fond du header */
  color: #fff; /* Couleur du texte */
  padding: 20px; /* Espace intérieur du header */
  display: flex;
  justify-content: space-between; /* Aligner les éléments horizontalement */
  align-items: center; /* Aligner les éléments verticalement */
}

h1 {
  margin: 0; /* Supprimer les marges par défaut */
  font-size: 24px; /* Taille de police pour le titre */
}

ul {
  list-style: none; /* Supprimer les puces de liste */
  padding: 0; /* Supprimer le remplissage de la liste */
  display: flex;
}

li {
  margin-right: 20px; /* Marge à droite entre les éléments de la liste */
}

a {
  text-decoration: none; /* Supprimer la décoration de lien */
  color: #fff; /* Couleur du texte des liens */
}

.user-info {
  display: flex;
  align-items: center;
}

img {
  width: 40px; /* Largeur de l'image de profil */
  height: 40px; /* Hauteur de l'image de profil */
  border-radius: 50%; /* Rendre l'image de profil ronde */
  margin-right: 10px; /* Marge à droite entre l'image et le texte */
}

button {
  background-color: #ff0000; /* Couleur de fond du bouton de déconnexion */
  color: #fff; /* Couleur du texte du bouton de déconnexion */
  border: none; /* Supprimer la bordure du bouton */
  padding: 5px 10px; /* Remplissage du bouton */
  cursor: pointer; /* Curseur de souris pointeur pour indiquer le bouton cliquable */
}

/* Style pour le survol du bouton */
button:hover {
  background-color: #cc0000; /* Couleur de fond du bouton au survol */
}